<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/11ece68d-2a7b-45b6-9f52-fa48020d29a5/resourceGroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/SaaSAcc-test66-admin</ResourceId>
    <ResourceGroup>cloud-shell-storage-westeurope</ResourceGroup>
    <ApiResourceId>/subscriptions/11ece68d-2a7b-45b6-9f52-fa48020d29a5/resourceGroups/cloud-shell-storage-westeurope/providers/Microsoft.ApiManagement/service/ShopwebAPIapi/apis/ShopwebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://saasacc-test66-admin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>778d610d-bf57-470b-bfb5-cb0b7928a632</ProjectGuid>
    <PublishUrl>https://saasacc-test66-admin.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SaaSAcc-test66-admin</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>